.App {
  text-align: center;
}

/* Logged Book Card */
.book-container {
  width: 80px;
  height: 140px;
  position: relative;
}

.cover-img {
  width: 80px;
  height: 120px;
}

.overlay-icon {
  font-size: 10px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay-icon.red {
  background-color: red;
}

.overlay-icon.green {
  background-color: green;
}

.book-container:hover .overlay-icon {
  opacity: 1;
}

.alt-cover {
  width: 80px;
  height: 120px;
  display: flex;
  align-items: center;
  border: 0.1em black solid;
}
