.App {
  text-align: center;
}

/* Logged Book Card */
.book-container {
  width: 80px;
  height: 140px;
}

.cover-img {
  width: 80px;
  height: 120px;
}

.remove-button {
  font-size: 10px;
  height: 20px;
}

.alt-cover {
  width: 80px;
  height: 120px;
  display: flex;
  align-items: center;
  border: 0.1em black solid;
}
